html, body {
    margin: 0;
    height: 100%;
}

h1 {
  font-family: 'Slabo 27px', serif;
  margin: auto;
  width: 80%;
  padding-left: 250px;
  padding-top: 50px;
}

.container {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.row {
  height: 500px;
}

.col {
  border-radius: 10px;
}

.col.left {
  background-color: rgba(224, 86, 88, 0.4);
}

.col.right {
  background-color: rgba(61, 247, 102, 0.4);
}